.answer-text
{
    margin: 10px 0;
}

.editable-question
{
    margin: 5vh;
}

.question-image
{
    min-height: 250px !important;
    margin: 10px 0 !important; 
}

.question-test
{
    margin: 10px 0;
}